.firstdiv {
  /* background-image: url(./images/pattern-bg.svg);
    background-size: contain;
    background-repeat: no-repeat; */
  /* background-color: red; */
  width: 270px;
  height: 270px;
  margin: 0 auto;
  /* position: absolute; */
  /* text-align: center; */
  padding: 10px;
  box-sizing: 2px 10px;
}
.bg {
  width: 290px;
  height: 270px;
  /* margin: 0 auto; */
  position: absolute;
  box-sizing: 2px 7px 2px;
}
.img1 {
  position: relative;
  top: 290px;
  width: 50px;
  margin: 0 auto;
  left: 50%;
}
.textdiv {
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}
.tanya {
  width: 230px;
  position: relative;
  bottom: 23px;
  left: 30px;
}
.ptext{
    font-size: 19px;
    text-align: center;
    width: 290px;
    margin: 0 auto;
}
.sliderdiv {
  background-color: white;
  width: 40px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  padding: 8px;
  position: relative;
  bottom: 280px;
  /* left: 120px; */
  border: none;
  box-shadow: 2px 2px 4px;
  margin: 0 auto;
}
.prev {
  width: 10px;
}
.next {
  width: 10px;
}

.parentdiv {
  /* padding: 20px; */
}
.curves {
  width: 330px;
  /* margin-right: 70px; */
  position: relative;
  top: 12px;
  right: 20px;
  margin: 0 auto;
}
.job {
  color: grey;
}

.active {
}
#john {
  display: none;
}
#text2 {
  display: none;
}

@media (min-width: 768px) {
  .firstdiv {
    width: 270px;
    height: 270px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: 2px 10px;
    /* background-color: aqua; */}
    .textdiv{
        /* background-color: aqua; */
        position: relative;
        right: 70px;
        width: 450px;
        height: 200px;
        bottom: 240px;
        padding: 20px;
        /* background-color: red; */
    }
    .firstdiv{
        /* background-color: red; */
        margin-left: 350px;
    }
    .ptext{
        font-size: 19px;
        text-align: center;
        width: 290px;
        line-height: 30px;
        margin: 0 auto;
    }
    .parentdiv{
      margin-top: 200px;
      padding: 10px;
      /* background-color: aqua; */
    }
    .bg{
      width: 400px;
      height: 450px;
      /* position: relative;
      bottom: 50px; */
    }
    .tanya{
      width: 390px;
      position: relative;
      bottom: 38px;
    }
    .img1{
      width: 80px;
      position: relative;
      /* right: 5000px; */
      left: -150px;
      top: 15px;
      /* background-color: brown; */
    }
    .curves{
      width: 900px;
    }
    .sliderdiv{
      position: relative;
      left: 135px;
      top: -130px;
    }
    .namejob{
      display: flex;
      justify-content: space-between;
      width: 200px;
      margin-left: 70px;
    }
}

@media (min-width: 900px) {
  .textdiv{
    /* background-color: aqua; */
    position: relative;
    right: 130px;
    width: 450px;
    height: 200px;
    bottom: 240px;
    padding: 20px;
    /* background-color: red; */
}
}
@media (min-width: 1000px) {
  .textdiv{
    /* background-color: aqua; */
    position: relative;
    right: 190px;
    width: 450px;
    height: 200px;
    bottom: 240px;
    padding: 20px;
    /* background-color: red; */
}
}
@media (min-width: 1200px) {
  .textdiv{
    /* background-color: aqua; */
    position: relative;
    right: 260px;
    width: 450px;
    height: 200px;
    bottom: 240px;
    padding: 20px;
    /* background-color: red; */
}
.sliderdiv{
  position: relative;
  right: 100px;
}
}
@media (min-width: 1300px) {
  .textdiv{
    /* background-color: aqua; */
    position: relative;
    right: 350px;
    width: 450px;
    height: 200px;
    bottom: 240px;
    padding: 20px;
    /* background-color: red; */
}
.sliderdiv{
  position: relative;
  right: 200px;
}
}
@media (min-width: 1400px) {
  .textdiv{
    /* background-color: aqua; */
    position: relative;
    right: 350px;
    width: 450px;
    height: 200px;
    bottom: 240px;
    padding: 20px;
    /* background-color: red; */
}
.sliderdiv{
  position: relative;
  left: -40px;

  /* right: 9000px; */
  
}
}